* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.form-container {
  margin-bottom: 20px;
}

.todoitem-container {
  display: flex;
  margin: 3px 0;
}

.todoitem-container input {
  width: 40vw;
}

.btns-container {
  display: flex;
  align-items: center;
}

.btns-container button {
  margin: 2px;
}
